﻿@{
    Layout = null;
}
@using System.Web.Configuration;
@using Shaunataftersow.Web.Common;
@using Shaunataftersow.Web.Models;
@model ActivityModel


@using (Html.BeginForm("SaveActivity", ControllerHelper.Activity, FormMethod.Post, new { @id = "formActivity", enctype = "multipart/form-data", @role = "form" }))
{
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.Icon)
    @Html.HiddenFor(x => x.TaskIds)


    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.Description)</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @maxlength = "500", @style = "height:40px", @tabindex = "1" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.Type)</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(x => x.Type, new { @class = "form-control", @maxlength = "500", @style = "height:40px", @tabindex = "2" })
                @Html.ValidationMessageFor(m => m.Type)
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:15px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.TaskIds)</label>
            <div class="col-lg-9">
                @Html.DropDownList("TaskIds", new SelectList((IEnumerable<SelectListItem>)ViewBag.TaskList, "Value", "Text"), new { @class = "form-control", @tabindex = "3", @multiple = "multiple", @id = "idTaskIds" })

            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom:20px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.Icon)</label>
            <div class="col-lg-9">
                <div class='fileinput'>
                    <input type='file' name="file" id="file" onchange="ShowPreview(this)" tabindex="3">
                    @{
                        string lable_Activity = "No file selected";
                        lable_Activity = Model.id == 0 ? "No file selected" : Model.Icon;
                    }
                    <label class='label' id="file_Label">@Convert.ToString(lable_Activity)</label>
                </div>
                <img id="ActivityIcon" style="position:absolute;top:-10px;right:10px;height:100px;width:100px" src="@WebConfigurationManager.AppSettings["ActivityPath"].ToString()@Model.Icon">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:60px !important;">
        <div class="col-lg-12">
            <div class="col-lg-3"></div>
            <div class="col-lg-9" style="text-align:right !important">
                <input type="submit" tabindex="4" class="btn btn-primary mr-5" value="Submit" onclick="return SaveActivity();">
                <input type="button" tabindex="5" class="btn btn-default" data-dismiss="modal" value="Close">
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $('#idTaskIds').multiselect({
            includeSelectAllOption: true, buttonWidth: '280px'
        });

        if ('@Model.id' > 0) {
            var values = $('#TaskIds').val().split(",");
            setTimeout(function () {
            for (var i in values) {
                var optionVal = values[i];
                $("li").find("input[type=checkbox][value=" + optionVal + "]").prop("checked", "checked");
                $("li").find("input[type=checkbox][value=" + optionVal + "]").trigger("change");
                }
            }, 2000);
        }
    });
</script>
<script>


    function ShowPreview(input) {
        if (input.files && input.files[0]) {
            var ImageDir = new FileReader();
            ImageDir.onload = function (e) {
                $('#ActivityIcon').attr('src', e.target.result);
            }
            ImageDir.readAsDataURL(input.files[0]);
            $('#file_Label').text(input.files[0].name);
        }
    }
    function SaveActivity() {

        var Description = $('#Description').val();
        $('#valDescription').remove();

        var Type = $('#Type').val();
        $('#valType').remove();

        var Status = true;
        if (Description == 'undefined' || Description == null || Description == '') {
            Status = false;
            $('#Description').after('<div style="position:inherit;"><span role="alert" id="valDescription" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Description is required.</span></div>');
        }

        if (Type == 'undefined' || Type == null || Type == '') {
            Status = false;
            $('#Type').after('<div style="position:inherit;"><span role="alert" id="valType" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Type is required.</span></div>');
        }

        var icon = $('#file_Label').text();

        if (icon == 'undefined' || icon == null || icon == '' || icon == 'No file selected') {
            Status = false;
            $('#file').after('<div style="position:inherit;"><span role="alert" id="valimg" data-valmsg-for="files" style="padding-bottom:0px ;padding-top:0px" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Icon is required.</span></div>');
        }
        var TaskIds = $('#idTaskIds').val();
        $('#validTaskIds').remove();
        if (TaskIds == 'undefined' || TaskIds == null || TaskIds == '') {
            Status = false;
            $('#idTaskIds').after('<div style="position:inherit;"><span role="alert" id="validTaskIds" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Controls is required.</span></div>');
        }
        else {
            $("#TaskIds").val(TaskIds.join());
        }

        if (Status == true) {
            return true;
        }
        return false;
    }
</script>



