﻿@{
    Layout = null;
}
@using System.Web.Configuration;
@using Shaunataftersow.Web.Common;
@using Shaunataftersow.Web.Models;
@model ControlModel

@using (Html.BeginForm("SaveControl", ControllerHelper.Control, FormMethod.Post, new { @id = "formControl", enctype = "multipart/form-data", @role = "form" }))
{
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.Icon)


    <div class="row" style="margin-bottom:10px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.Description)</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @maxlength = "500", @style = "height:40px", @tabindex = "1" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.Type)</label>
            <div class="col-lg-9">
                @Html.TextBoxFor(x => x.Type, new { @class = "form-control", @maxlength = "500", @style = "height:40px", @tabindex = "2" })
                @Html.ValidationMessageFor(m => m.Type)
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-lg-12">
            <label for="Name" class="col-lg-3">@Html.LabelFor(x => x.Icon)</label>
            <div class="col-lg-9">
                <div class='fileinput'>
                    <input type='file' name="file" id="file" onchange="ShowPreview(this)" tabindex="3">
                    @{ 
                        string lable = Model.id == 0 ? "No file selected" : Model.Icon;
                    }
                    <label class='label' id="file_Label">@lable</label>
                </div>
                <img id="ControlIcon" style="position:absolute;top:-10px;right:10px;height:100px;width:100px" src="@WebConfigurationManager.AppSettings["ControlPath"].ToString()@Model.Icon">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:60px !important;">
        <div class="col-lg-12">
            <div class="col-lg-3"></div>
            <div class="col-lg-9" style="text-align:right !important">
                <input type="submit" tabindex="4" class="btn btn-primary mr-5" value="Submit" onclick="return SaveControl();">
                <input type="button" tabindex="5" class="btn btn-default" data-dismiss="modal" value="Close">
            </div>
        </div>
    </div>
}

<script>
    function ShowPreview(input) {
        if (input.files && input.files[0]) {
            var ImageDir = new FileReader();
            ImageDir.onload = function (e) {
                $('#ControlIcon').attr('src', e.target.result);
            }
            ImageDir.readAsDataURL(input.files[0]);
            $('#file_Label').text(input.files[0].name);
        }
    }
    function SaveControl() {

        var Description = $('#Description').val();
        $('#valDescription').remove();

        var Type = $('#Type').val();
        $('#valType').remove();

        var Status = true;
        if (Description == 'undefined' || Description == null || Description == '') {
            Status = false;
            $('#Description').after('<div style="position:inherit;"><span role="alert" id="valDescription" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Description is required.</span></div>');
        }

        if (Type == 'undefined' || Type == null || Type == '') {
            Status = false;
            $('#Type').after('<div style="position:inherit;"><span role="alert" id="valType" style="padding-bottom:0px;padding-top:0px" data-valmsg-for="files" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Type is required.</span></div>');
        }

        var icon = $('#file_Label').text();
        debugger;
        if (icon == 'undefined' || icon == null || icon == '' || icon =='No file selected') {
            Status = false;
            $('#file').after('<div style="position:inherit;"><span role="alert" id="valimg" data-valmsg-for="files" style="padding-bottom:0px ;padding-top:0px" data-for="files" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error"><span class="k-icon k-warning"> </span>Icon is required.</span></div>');
        }

        if (Status == true) {
            return true;
            @*var formdata = $('#formControl')[0]; //$('form').serialize();
            var datastring = new FormData(formdata);
            var fileUpload = $("#file").get(0);
            var files = fileUpload.files;  
            for (var i = 0; i < files.length; i++) {
                datastring.append(files[i].name, files[i]);
            }
            
            $.ajax({
                url: '@Url.Action("SaveControl", ControllerHelper.Control)',
                Type: 'POST',
                data: $('form').serialize(),
                success: function (data) {
                    if (data.Flag == '') {
                        GetJsaRecord();
                        alert('Control saved successfully.');
                        $('#myControlModal').modal('toggle');
                    }
                    else {
                        alert(data.Flag);
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });*@
        }
        return false;
    }
</script>



