﻿@{
    ViewBag.Title = "Task";
}
@using Shaunataftersow.Web.Common

<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
<style>
    .dropdown-menu {
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<div class="row">

    <a class="btn btn-primary" onclick="OpenAddPopUp(0)" data-toggle="modal" style="margin:20px;" data-target="#myTaskModal" href="javascript:void(0)"><span class="k-icon k-add"></span>Add Task</a>

    <table id="tblTask" class="table table-striped table-bordered" cellspacing="0" width="100%" style="margin:20px;">
        <thead class="k-grid-header">
            <tr>
                <th class="k-header" width="50%">Description</th>
                <th class="k-header" width="50%">Type</th>
                <th class="k-header" width="10%" style="text-align:center">Action</th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="myTaskModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Task</h4>
            </div>
            <div class="modal-body">
                <div id="idTask">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function GetJsaRecord() {
        $.ajax({
            url: encodeURI('@Url.Action("ReadTaskList", ControllerHelper.Task)'),
            type: "GET",
            data: {  },
            dataType: "json",
            success: mySuccHandler,
            error: myErrHandler
        });
    }
    function mySuccHandler(data) {
        try {
            var dataTableExample = $('#tblTask').DataTable();
            if (dataTableExample != 'undefined') {
                dataTableExample.destroy();
            }

            dataTableExample = $('#tblTask').DataTable({
                "order": [[0, "desc"]],
                "dom": 'frtlip',
                "aaData": data,
                "bFilter": false,
                "aoColumns": [{
                    "mData": "Description"
                }
                    ,{
                        "mData": "Type"
                    }
                , {
                    "sWidth":"12%",
                    "mData": "id",
                    "sortable": false,
                    "className": "dt-center",
                    "render": function (data, type, row, meta) {
                        var result = '';
                        result = result + '<a onclick="OpenAddPopUp(' + row.id + ')" data-toggle="modal" data-target="#myTaskModal" class="btn" href="#" data-toggle="tooltip" title="Edit">Edit</a>';
                        result = result + '<a id="lnkDelete" onclick="DeleteModel(' + row.id + ')" href="#"  class="k-button" data-toggle="tooltip" title="Delete">Delete</a>';
                        return result;
                    }
                }
                ]
            });
            $(".dataTables_length").css('clear', 'none');
            $(".dataTables_length").css('margin-right', '20px');
            //info -> reset clear and padding
            $(".dataTables_info").css('clear', 'none');
            $(".dataTables_info").css('padding', '0');
        } catch (e) {
            alert(e.message);
        }
    }

    function myErrHandler(sender, args) {
        alert(args);
    }

    $(document).ready(function () {
        GetJsaRecord();
    });

    function OpenAddPopUp(id) {
        $.ajax({
            url: '@Url.Action("OpenPopUp", ControllerHelper.Task)',
            async: false,
            type: 'POST',
            data: { Id: id },
            success: function (data) {
                $('#idTask').html(data);
            }
        });
    }

    function DeleteModel(id) {
        //bootbox.confirm("Are you sure want to delete this Task?", function (result) {
        //    if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteTask", ControllerHelper.Task)',
                    async: false,
                    type: 'POST',
                    data: { Id: id },
                    success: function (data) {
                        GetJsaRecord();
                        alert('Task Deleted successfully.');
                    }
                });
        //    }
        //});
    }
</script>