﻿@{
    ViewBag.Title = "UserOrganisation";
}
@using Shaunataftersow.Web.Common



<div class="row">

    <table id="tblUserOrganisation" class="table table-striped table-bordered" cellspacing="0" width="100%" style="margin:20px;">
        <thead class="k-grid-header">
            <tr>
                <th class="k-header" width="50%">Name</th>
                <th class="k-header" width="50%">Mobile</th>
                <th class="k-header" width="50%">Role Id</th>
                <th class="k-header" width="50%">Status</th>
                <th class="k-header" width="10%" style="text-align:center">Action</th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="myUserOrganisationModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">User Organisation</h4>
            </div>
            <div class="modal-body">
                <div id="idUserOrganisation">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function GetJsaRecord() {
        $.ajax({
            url: encodeURI('@Url.Action("ReadUserOrganisationList", ControllerHelper.UserOrganisation)'),
            type: "GET",
            data: {  },
            dataType: "json",
            success: mySuccHandler,
            error: myErrHandler
        });
    }
    function mySuccHandler(data) {
        try {
            var dataTableExample = $('#tblUserOrganisation').DataTable();
            if (dataTableExample != 'undefined') {
                dataTableExample.destroy();
            }

            dataTableExample = $('#tblUserOrganisation').DataTable({
                "order": [[0, "desc"]],
                "dom": 'frtlip',
                "aaData": data,
                "bFilter": false,
                "aoColumns": [{
                    "mData": "Name"
                }
                    ,{
                        "mData": "Mobile"
                    },
                    {
                        "mData": "RoleId",
                        "sWidth": "8%",
                        "className": "dt-center"
                    }
                    , {
                        "mData": "Active",
                        "render": function (data, type, row, meta) {
                            return (row.Active == true ? "Active" : "InActive");
                        }
                    }
                , {
                    "sWidth":"12%",
                    "mData": "id",
                    "sortable": false,
                    "className": "dt-center",
                    "render": function (data, type, row, meta) {
                        var result = '';
                        result = result + '<a onclick="OpenAddPopUp(' + row.Id + ')" data-toggle="modal" data-target="#myUserOrganisationModal" class="btn" href="#" data-toggle="tooltip" title="Edit">Edit</a>';
                       // result = result + '<a id="lnkDelete" onclick="DeleteModel(' + row.Id + ')" href="#"  class="k-button" data-toggle="tooltip" title="Delete">Delete</a>';
                        return result;
                    }
                }
                ]
            });
            $(".dataTables_length").css('clear', 'none');
            $(".dataTables_length").css('margin-right', '20px');
            //info -> reset clear and padding
            $(".dataTables_info").css('clear', 'none');
            $(".dataTables_info").css('padding', '0');
        } catch (e) {
            alert(e.message);
        }
    }

    function myErrHandler(sender, args) {
        alert(args);
    }

    $(document).ready(function () {
        GetJsaRecord();
    });

    function OpenAddPopUp(id) {
        $.ajax({
            url: '@Url.Action("OpenPopUp", ControllerHelper.UserOrganisation)',
            async: false,
            type: 'POST',
            data: { Id: id },
            success: function (data) {
                $('#idUserOrganisation').html(data);
            }
        });
    }

    function DeleteModel(id) {
        //bootbox.confirm("Are you sure want to delete this Control?", function (result) {
        //    if (result) {
                $.ajax({
                    url: '@Url.Action("DeleteUserOrganisation", ControllerHelper.UserOrganisation)',
                    async: false,
                    type: 'POST',
                    data: { Id: id },
                    success: function (data) {
                        GetJsaRecord();
                        alert('UserOrganisation Deleted successfully.');
                    }
                });
        //    }
        //});
    }
</script>